body {
  min-height: 100vh;
  background-image: url("./moonminer.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  height: 10vh;
}

main {
  height: 50vh;
}

.colLeft {
  height: 100%;
  display: block;
  border-radius: 20px;
  border: .5vh;
  border-style: solid;
  border-color: gold;
  background-color:rgba(0, 0, 0, 0.507);
}

footer {
  height: 40vh;
}

.headerStyle {
  color: white;
  align-content: center;
  justify-content: center;
}

.footerStyle {
  justify-content: space-between; 
  height: 100%;
}

.headerText {
    color: orange;
    animation: mymove .4s infinite;
    font-size: 7vh;
    text-shadow: 1px 2px white;
}

@keyframes mymove {
  from {color: orange;}
  to {color: yellow;}
}

.btnStyle {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  outline:none;
  color: white;
  height: 17vh;
  position: relative;
  top: 16vh;
  left: 44vw;
  font-size: 3vh;
  text-shadow: 2px 2px black;
}

.bankFont {
  color: white;
  font-size: 5vh;
  text-shadow: 2px 2px black;
  text-align: center;
}

.invFont {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 3vh;
  margin-bottom: 1vh;
}

.footerTitle {
  margin-top: 2vh;
  background-color: gold;
  border-radius: 1vh;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.itemsStyle {
  color: white;
  display: inline-block;
  text-align: center;
  text-shadow: 1px 1px black;
  border-radius: 20px;
  border: 1px;
  border-color: gold;
  border-style: solid;
  margin-top: 2vh;
  background-color: rgba(0, 0, 0, 0.507)
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://miro.medium.com/max/5925/1*eyuCr9KOhADGM7V4-4Mt8Q.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: black;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 10%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    height:50%;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    height:40%;
  }
}

@media only screen and (max-width: 600px){
  .storeText {
    font-size: medium;
  }
}

@media only screen and (max-width: 600px) {
  .btnStyle {
    background-image: url("https://en.es-static.us/upl/2018/10/moon-waxing-crescent-earthshine-1-8-2019-Chuck-Reinhart-Vincennes-IN-e1547258318928.jpg");
    background-position: center;
    background-size: cover;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    height: 15vh;
    font-size: 3vh;
    text-shadow: 2px 2px black;
    border-style: solid;
    border-color: white;
    border-radius: 1vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 600px) {
  .footerStyle {
    color: black;
    justify-content: center;
  }
}
